{{ define "main" }}
<!--<main class="pa3 pa4-ns nested-copy-line-height">-->
<!--    <ul class="contents flex-ns flex-wrap justify-around mt5">-->
<!--        {{ range .RegularPagesRecursive }}-->
<!--            <div class="relative w-100 w-30-l mb4 bg-white">-->
<!--                {{ .Render "summary" }}-->
<!--            </div>-->
<!--        {{ end }}-->
<!--    </ul>-->
<!--</main>-->
<main class="pb7">
    <article class="cf pa3 pa4-m pa4-l">
        <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links mid-gray">
        </div>
    </article>
    <div class="mw8 center">
        <section class="ph4">
            {{ range .RegularPagesRecursive }}
            <div class="relative w-100 mb4 bg-white nested-copy-line-height">
                {{ .Render "summary" }}
            </div>
            {{ end }}
        </section>
        {{- template "_internal/pagination.html" . -}}
    </div>
    <article class="pa3 pa4-ns nested-copy-line-height">

    </article>
</main>
{{ end }}
